@model System.String 
<p>@Model</p>
<form method="get">
    <label for="name">Song Name:</label>
    <input type="text" name="name" /> <br/>
    <label for="albumId">Album ID:</label>
    <input type="number" name="albumId" /> <br/>
    <label for="length">Length:</label>
    <input type="number" name="length" /> <br/>
    <input type="submit" />
</form>