@model System.String
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>@Model</p>
<form method="get">
    <label for="name">Album Name:</label>
    <input type="text" name="name" /> <br/>
    <label for="artistId">Artist ID:</label>
    <input type="number" name="artistId" /> <br/>
    <input type="submit" />
</form>